:root {
  --mosaic-color: #abb3bf;
  --mui-blue: #2885ff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Header */
header * {
  user-select: none;
}
header h5 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* Chips */
.chip {
  margin-left: 0.4em !important;
}
.chip,
.chip > [class$="label"] {
  margin-top: 0.1rem !important;
}
.num-results-container {
  width: fit-content !important;
  max-width: fit-content !important;
}

/* react-select */
div[class$="control"] {
  min-height: unset !important;
}
div[class$="control"] div[class$="-indicatorContainer"] {
  padding: 0 4px !important;
}
div[class$="control"] div[id$="-placeholder"] {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
div[id$="-listbox"] {
  overflow: visible;
  z-index: 99999999 !important;
}

/* react-mosaic */
.mosaic-window {
  height: 100%;
  width: 100%;
}
.mosaic-window-title {
  padding-left: 8% !important;
  overflow: visible !important;
}
.mosaic-window-body {
  padding: 1%;
  overflow: scroll !important;
}
.mosaic-controls-container {
  margin: auto 0.2em auto auto;
  cursor: pointer;
  color: var(--mosaic-color);
}
.mosaic-window-toolbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between !important;
  align-items: stretch;
}
.mosaic-window-toolbar-element {
  display: inline-block;
  width: fit-content;
  padding: 5px !important;
}
.mosaic-default-control {
  margin: 2px;
  width: 20px;
  height: 20px;
  bottom: 0 !important;
  color: white;
  background-color: lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}
.mosaic-default-control:hover {
  color: gray;
}
.mosaic-default-control::before {
  font-family: FontAwesome;
  font-weight: bold;
  position: relative;
  bottom: 4.5px;
  right: 1.5px;
}
.close-button::before {
  content: "\00d7";
}
.expand-button::before {
  content: "\2922";
}

/* filter modal */
.filter-modal {
  width: 50% !important;
  max-width: 100% !important;
}
.filter-modal-content {
  display: flex !important;
  flex-direction: column;
}
.filter-modal .filter-row:nth-child(odd) {
  background: #f5f5f5;
}
.filter-modal .row {
  width: 80% !important;
  align-self: center !important;
}
.filter-modal input:invalid {
  border-color: red !important;
  box-shadow: 0 0 0 1px crimson !important;
}
.filter-modal input[type="tel"] {
  padding: 0 !important;
  background-color: white;
}
.filter-modal input[type="tel"] + div > button {
  padding-left: 0 !important;
  background-color: white;
}
.filter-modal .filter-input-container {
  max-width: 12.2em !important;
  width: 12.2em !important;
}
.filter-modal .filter-input-container > * {
  width: 100% !important;
}
.filter-modal .filter-input-container > input {
  box-sizing: border-box !important;
  border-radius: 4px !important;
  padding: 2px 8px !important;
  box-shadow: none !important;
}
.filter-modal .filter-input-container > input:focus:valid {
  box-sizing: border-box !important;
  border-color: var(--mui-blue) !important;
  box-shadow: 0 0 0 1px var(--mui-blue) !important;
}
.date-picker-container {
  background-color: white;
}
.date-picker-container button {
  background-color: unset !important;
}

.date-picker input:first-of-type {
  box-sizing: content-box !important;
  padding: 6px 0 2px 8px !important;
  vertical-align: bottom;
}
.fa-trash-can:hover,
.fa-circle-plus:hover {
  cursor: pointer;
  color: black;
}

.filter-modal form:invalid .btn-primary {
  opacity: 0.3;
  pointer-events: none;
}

/* IntervalViews */
.interval-mosaic .mosaic-window-toolbar {
  display: none !important;
}
.interval-mosaic .mosaic-tile {
  margin: 0 !important;
}
.interval-mosaic .mosaic-root {
  inset: 0;
}
.interval-mosaic .mosaic-root .mosaic-tile div .mosaic-window {
  border-radius: 0 !important;
}
div[id^="interval"] .mosaic-window-body {
  padding: 0;
}
.interval-mosaic .mosaic-split.-column,
.interval-mosaic .mosaic-split.-column:hover {
  background-color: var(--mosaic-color) !important;
}
.leaflet-bottom.leaflet-right {
  display: none;
}

/* Global Scatter */
.global-scatter-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.global-scatter-child {
  display: inline-block;
  margin: 10px;
}

